  
  </div><p id="notice"><%= notice %></p>

<h1>Manage Photos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>    
      <th>Requestor</th>
      <th>Granted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_photos.each do |manage_photo| %>
      <tr>
        <td><%= manage_photo.user.name %></td>  
        <td><%= image_tag manage_photo.user.pictures.first.image.url(:thumb) %></td>
        <td><%= manage_photo.granted %></td>
        <td><%= link_to 'Show', manage_photo %></td>
        <td><%= link_to 'Edit', edit_manage_photo_path(manage_photo) %></td>
        <td><%= link_to 'Destroy', manage_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manage Photo', new_manage_photo_path %>
