<div id="home_reading">

    <p id="notice"><%= notice %></p>

    <h1>Readings</h1>



    Today's Reading is: <br/>

    <%= @todays_reading.body.html_safe %>


    <table>

      <tbody>
        <% @readings.each do |reading| %>
          <tr>
            <td><%= reading.headline.html_safe %><br><%= reading.body.html_safe %></td>


          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'New Reading', new_reading_path %>

</div>
