<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @reading.headline %>
</p>

<p>
  <strong>Body:</strong>
  <%= @reading.body %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
