<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birth Date:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>

<% @pictures.each do |picture| %>

    <p>
      <strong>Photo:</strong>
      <%= image_tag picture.image.url(:thumb) %>
    </p>

    <p>
      <strong>Desc:</strong>
      <%= picture.desc %>
    </p>

<% end %>

