  <div id="home_reading">  
    <p id="notice"><%= notice %></p>

    <div class="profile_page">
       

    <div class="profile_display">

    <p>
      <strong>Name:</strong>
      <%= @user.name %><br />
    </p>

    <% unless @pictures.empty? %>
        <% unless @main_photo.nil? %>
            <%= image_tag @main_photo.image.url(:medium) %>
        <% end %>

        
        <p>
      <strong>Birth Date:</strong>
      <%= @user.birthdate %>
    </p>

    <p>
      <strong>Zip:</strong>
      <%= @user.zip %>
    </p>
        
        <hr>
        <% @public_photos.each do |picture| %>

            <p>
              
              <%= image_tag picture.image.url(:medium) %>
            </p>

            <p>
              <strong>Desc:</strong>
              <%= picture.desc %>
            </p>

        <% end %>
        <p>PRIVATE PHOTOS:</p>




        <% if @permitted %>

            <% @private_photos.each do |picture| %>
                <p>
                  <strong>Photo:</strong>
                  <%= image_tag picture.image.url(:medium) %>
                </p>

                <p>
                  <strong>Desc:</strong>
                  <%= picture.desc %>
                </p>
            <% end %>

        <% elsif @pending %>
            <p>Your photo request is pending...</p>
        <% else %>

            <%= form_tag show_user_path(params[:id]), method: :get do %>
                <p>Request to see private photos..</p>
                <%= submit_tag 'Send Request' %>
            <% end %>

        <% end %>
    <% end %>
    </div>
        
        <hr><br><hr>
        
      <div class="profile_results_list">

            <div id="user_images" class="clearfix">
                <% @users.each do |user| %>
                    <% picture = user.pictures & @mains %>
                        <% unless picture.empty? %>
                            <div id="each_image_result">
                                <%= link_to user.name, show_user_path(user) %> <br>
                                <% unless user.pictures.empty? %>
                            
                                    <%= link_to (image_tag picture.first.image.url(:thumb)), show_user_path(user) %>
                                <% end %><br><br>
                            </div>
                        <% end %>
                    
                <% end %>
            </div>

        </div>

       <hr>    
        
        
        
</div>
</div>