<p id="notice"><%= notice %></p>

<h1>Gratitudes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gratitudes.each do |gratitude| %>
      <tr>
        <td><%= gratitude.created_at.strftime('%a, %b %d') %></td>
        <td><%= gratitude.entry %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gratitude', new_gratitude_path %>

<%= @first_reading.body.html_safe %>