<p id="notice"><%= notice %></p>
<%= params.inspect %>
<p>
  <strong>User:</strong>
  <%= @gratitude.user_id %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @gratitude.entry %>
</p>



<%= link_to 'Edit', edit_gratitude_path(@gratitude) %> |
<%= link_to 'Back', gratitudes_path %>
