<!DOCTYPE html>
<html>
  <head>
    <title>M5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <header> 
            <div class="top">
                <span class="logo"> My Morning Practice    
                <nav>
                    <ul>
                        <li> <%= nav_link_to "  Home  ", '/' %></li>
                        <li> <%= nav_link_to "DailyPractice   ", '/writings/new' %></li>
                        <li> <%= nav_link_to "Gratitude", '/gratitudes/new' %></li>
                        <li> <%= nav_link_to "Profiles         ", '/users' %></li>
                    </ul>
                </nav>
                    </span>
            </div>
              
            <div class="colorbar clearfix">
                <nav>
                    <ul>
                      <% unless current_user %>
                          <li><%= nav_link_to "Sign Up", '/users/sign_up' %></li>
                          <li><%= nav_link_to "log in", new_user_session_path %></li>
                      <% end %>

                      <% if current_user %>
                            <li>Hi, <%= current_user.name %></li>
                            <li><%= nav_link_to "log out", destroy_user_session_path, :method => :get %></li>
                            <li><%= nav_link_to 'Edit Profile',edit_user_registration_path %></li>             
                            <li><%= nav_link_to 'Upload Photo', new_picture_path %></li>
                       <% end %>
                    </ul>
                </nav>
            </div>  
        </header>
   
    <section id="main_content">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
        
    </section>
      
      
  </body>
</html>
